[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
fastapi = "*"
pydantic = "*"
alembic = "*"
uvicorn = "*"
python-dotenv = "*"
pydantic-settings = "*"
sqlalchemy = "*"
python-multipart = "*"
python-jose = { extras = ["cryptography"], version = "*" }
passlib = { extras = ["bcrypt"], version = "*" }
httpx = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
